
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<table>
    <tr>
        <td>
            Ordernummer:
            <form action="SearchResult">
                <input id="searchId" name="searchId" value="">
                <button> SÖK </button>
            </form>
        </td>
    </tr>

</table>
